@page "/components"

<PageTitle>Web Components</PageTitle>




<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1091.7850700399167!2d-79.37445475759698!3d43.734501628760874!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d4cd6d6fe99275%3A0x1b542bffb1c81612!2s21%20Peter%20St%2C%20Carleton%20Place%2C%20ON%20K7C%201G1%2C%20Canada!5e1!3m2!1sen!2sus!4v1715465734847!5m2!1sen!2sus" 
width="600" 
height="450" 
style="border:0; margin:30px" 
allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

<blockquote class="twitter-tweet"><p lang="en" dir="ltr">Not Like Us<a href="https://t.co/QT59YqdUQ6">https://t.co/QT59YqdUQ6</a></p>&mdash; Kendrick Lamar (@@kendricklamar) <a href="https://twitter.com/kendricklamar/status/1786906864346681733?ref_src=twsrc%5Etfw">May 4, 2024</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 